<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  </head>

  <body id='body'>
deliver
<iframe src="https://devadminplayer.sohatv.vn/embed/102529?vid=d-b22988a324264ca18212d25556b97244.vod-staging.bfcplatform.vn/.vod-d/203336854389633024/2023/3/30/tap-the-cu-o-ha-noi-8-nguoi-o-trong-18m2-chung-ve-sinh-cong-cong-16801437967891091486336.mp4&ads=true&autoplay=false&_info=7a8140a66da6dfa5a9365e618dbf9ee1&poster=http://d-b22988a324264ca18212d25556b97244.vod-staging.bfcplatform.vn/.vod-d/203336854389633024/2023/3/30/tap-the-cu-o-ha-noi-8-nguoi-o-trong-18m2-chung-ve-sinh-cong-cong-16801437967891091486336.mp4.jpg&location=" width="100%" height="100%" frameBorder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
vod
<iframe src="https://devadminplayer.sohatv.vn/embed/102528?vid=bizflyvod-staging-toannd01alo.vod-staging.bfcplatform.vn/600985866543521792/2023/7/5/quangle-1688550218613204231659.mp4&ads=true&autoplay=false&_info=7a8140a66da6dfa5a9365e618dbf9ee1&poster=https://bizflyvod-staging-toannd01alo.vod-staging.bfcplatform.vn/600985866543521792/2023/7/5/.quangle-1688550218613204231659.mp4.jpg&location=" width="100%" height="100%" frameBorder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

  </body>